/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

body {
    background: #000000
}

img {
  max-width: 100%;
  height: auto;
}

.blog-post-view-grid {
    max-width: 101%;
}

.blog-post-column {
    padding-right: 0em !important;
}


/* @media only screen and (min-width: 350) and (max-width: 1100px) {
  .ui.container {
    width: 723px;
  }
} */
/*
  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
} */
