body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: break-spaces;
    word-break: break-all;
}

pre {
    white-space: break-spaces;
    word-break: break-all;
}
